html, body {
  height: 100%;
  width: 100%;
}

#board {
  height: 200px;
  width: 200px;
  border: 1px solid green;
}

.tile {
  background: orange;
  display: inline-flex;
  align-items: center;
  justify-content: center;;
}

#button-restart, #button-stop {
  display: none;
}

.game--in-progress #button-restart, .game--in-progress #button-stop {
  display: inline-block;
}

.game--in-progress #button-start {
  display: none;
}

.game--stopped #button-restart {
  display: inline-block;
}