* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

#board {
  width: 45vw;
  height: 45vw;
  background: #068df9;
  padding: 0.675rem;
  border-radius: 12px;
}

#timer {
  font-size: 3vw;
  margin-bottom: 0.5rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game__buttons {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
}

.tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 8vw;
  text-transform: capitalize;
}

#button-restart, #button-stop {
  display: none;
}

.game--in-progress #button-restart, .game--in-progress #button-stop {
  display: inline-block;
}

.game--in-progress #button-start {
  display: none;
}

.game--stopped #button-restart {
  display: inline-block ;
}