* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

#board {
  width: 35vw;
  height: 35vw;
  background: #068df9;
  padding: 0.675rem;
  border-radius: 12px;
  box-shadow: inset 3px 3px 9px #4a4a4a;
}

#timer {
  font-size: 3vw;
  margin-bottom: 0.5rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: white;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  width: 11vw;
  font-size: 2.5vw;
  border: 1px solid black;
}

.game__buttons {
  display: flex;
  flex-direction: row;
  width: 25vw;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 12px;
  font-size: 6.5vw;
  text-transform: capitalize;
  box-shadow: inset -3px 3px 3px #00000082;
  margin: 5px 5px;
}

#button-restart, #button-stop {
  display: none;
}

.game--in-progress #button-restart, .game--in-progress #button-stop {
  display: inline-block;
}

.game--in-progress #button-start {
  display: none;
}

.game--stopped #button-restart {
  display: inline-block ;
}

.game--over #board {
  background: #f44336;
}